<h1>
  Timeline of @<%= current_user.username %>
</h1>

<%= render 'posts/form', post: @user.posts.new %>

<div style="padding: 20px; width: 100%; background: #f1f1f1; border: 1px solid #ccc;">
  <% if @posts %>
    <%= render @posts  %>
  <% else %>
    "You need create posts first"
  <% end %>
</div>
